.claude
.env
.direnv
Gemfile.lock
.bundle/
vendor/
temp/*.jpg
spec/examples.txt
opencode.json
tmp/*

# Docker version tracking
.docker-version

# Deno/Node
node_modules/
*.db
dist/
.bin/
coverage/
cov_profile/
coverage_data/
.jscpd-report/
/bunny-script.ts
