name: Deploy to Bunny Edge Scripting

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubicloud-standard-16

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Install dependencies
        run: deno install --allow-scripts

      - name: Build edge script
        run: deno task build:edge

      - name: Deploy Script to Bunny Edge Scripting
        uses: BunnyWay/actions/deploy-script@main
        with:
          script_id: ${{ secrets.BUNNY_SCRIPT_ID }}
          file: "bunny-script.ts"
          api_key: ${{ secrets.BUNNY_ACCESS_KEY }}
